.puzzle-state {
  position: relative;
  border: 2px solid rgb(43, 43, 43);
  border-radius: 40px;
  width: 300px;
  height: 300px;
  padding: 16px;
  background-color: #ebaad4;

  --node-spread: 120px;

  .puzzle-node {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 55px;
    height: 55px;
    border: none;
    border-radius: 30px;
  }

  button.puzzle-node:hover {
    cursor: pointer;
  }

  .puzzle-node.btn-0 {
    transform: translate(-50%, -50%) rotate(0deg) translate(var(--node-spread));
  }

  .puzzle-node.btn-1 {
    transform: translate(-50%, -50%) rotate(60deg) translate(var(--node-spread));
  }

  .puzzle-node.btn-2 {
    transform: translate(-50%, -50%) rotate(120deg) translate(var(--node-spread));
  }

  .puzzle-node.btn-3 {
    transform: translate(-50%, -50%) rotate(180deg) translate(var(--node-spread));
  }

  .puzzle-node.btn-4 {
    transform: translate(-50%, -50%) rotate(240deg) translate(var(--node-spread));
  }

  .puzzle-node.btn-5 {
    transform: translate(-50%, -50%) rotate(300deg) translate(var(--node-spread));
  }

  .puzzle-node.red {
    background-color: #f66767;
  }

  button.puzzle-node.red:hover {
    background-color: #d05858;
  }

  .puzzle-node.blue {
    background-color: #3988ff;
  }

  button.puzzle-node.blue:hover {
    background-color: #3170cf;
  }

  .puzzle-node.yellow {
    background-color: #eff888;
  }

  button.puzzle-node.yellow:hover {
    background-color: #dce380;
  }

  .puzzle-node.highlighted {
    border: 2px solid rgb(78, 236, 115);
    box-shadow: 0 0 6px 2px rgba(0, 255, 60, 0.8);
  }

}

.puzzle-state.mini {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  --node-spread: 45px;

  .puzzle-node {
    width: 20px;
    height: 20px;
    border: none;
  }

  .puzzle-node.highlighted {
    border: 2px solid rgb(78, 236, 115);
    box-shadow: 0 0 6px 2px rgba(0, 255, 60, 0.8);
  }
}

.puzzle-selector-wrapper { 
  margin-bottom: 16px;
}

.solution-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.solution-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}